/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*/

/*
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
   }
   header,
   section,
   main,
   nav,
   footer,
   article,
   figure,
   hgroup {
    display: block;
    width: 100%;
   };
*/

body, ul, li {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    border: 2px;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
}

.class box {
    margin: 20px 20px 20px 20px;
    display: block;
    border-style: none;
    background:darkblue;
}

p,a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: tomato;
    text-decoration: none;
    justify-content: center;
    padding: 2px;
    
}

h1 {
    text-align:center;
    margin-top: 100px;
    color:white;
}

h2,h3 {
    text-align:center;
    margin-top: 100px;
    color:white;
    font-size: 1.5em;
}

p2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: white;
    
}

.flex img {
    max-width: 100%;
    display: box;
    padding: 25px;
    background-color: black;
}

img {
    max-width: 100%;
    display: box;
    padding: 5px;
    background-color: black;
}

.grid1 div figure {
    min-width: 250px;
    display: flexbox;
    padding: 20px;
}

.grid1 div figcaption {
    justify-content: center;
    color: tomato;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.menu,.sub-menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}

.sub-menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 15 px;
    background-color: maroon;
}

.sub-menu li a {
    display: block;
    padding: 5 px;
    background-color: maroon;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.flex > div {
    flex: 1 1 300px;
    margin: 10px;
}

.grid1 {
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    padding: 0px;
}

.grid1 > div:nth-child(n + 4) {
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
   justify-content: center;
   background-color: white;
   padding: 10px;
   margin: 10px;
   width: auto;
}

.grid1 p2 {
    color: black;
}

.grid1 > div.anuncio {
    grid-column: 1;
    grid-row: 2/5;
    display: flexbox;
    max-width: auto;
}

@media (max-width: 600px) {
    .grid1 div figure {
        grid-template-columns: 1fr;
        flex-wrap: wrap;
        max-width: 100%;
        width: 300px;
    }
}